body {
    background-color: transparent;
}

html {
    background: url("../img/galaxy-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: white;
}

#exit {
    color: white;
}

#exit button {
    margin-left: 8px;
}

#login {
    margin-top: 100px;
}

#application {
    margin-top: 10px;
    display: none;
}

#history {
    width: 100%;
    height: 300px;
    border: 1px solid #b9006e;
    background-color: white;
    overflow-y: scroll;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.img-in-chat {
    max-width: 40px;
}

.message {
    margin: 5px;
    font-size: 18px;
}

#participants {
    height: 50px;
}

.jumbotron {
    background-color: #ec008c;
    border-color: #b9006e;
    color: #ffffff;
}

.panel-default {
    border-color: #b9006e;
}


.panel.panel-horizontal {
    display:table;
    width:100%;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 15%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
    border-bottom-right-radius: 4px;
}

.panel-horizontal .panel-body a{
    color: #b9006e;
}

.panel-default .panel-heading {
    background-color: #ec008c;
    color: #ffffff;
}

.label-primary {
    background-color: #b9006e;
    border-color: #e3e3e3;
    color: #ffffff;
}
